* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #aaa;
}
.clock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.display {
  background-color: #2c2e43;
  width: 300px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  border-radius: 10px;
  color: #fff;
  font-size: 7rem;
  font-family: "Qahiri", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 2px solid yellow;
}
footer {
  font-size: 2rem;
  margin-top: 10px;
  color: #333;
  font-family: "Qahiri", sans-serif;
  font-weight: 400;
  font-style: normal;
}
