body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh; /* melhor que 100vh em mobile */
  background-color: hsl(0, 0%, 95%);
  font-family: system-ui, -apple-system, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 0 7px black;
  background-color: orange;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font: bold 30px Arial, sans-serif;
  border-bottom: solid 5px black;
  margin-bottom: 20px;
}
.input {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.input > input {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: 0;
  font: bold 1.5rem, serif;
  text-align: center;
}
.input label {
  font: bold 20px Arial, sans-serif;
}
button {
  width: 300px;
  height: 40px;
  font: bold 20px Arial, sans-serif;
  margin-top: 20px;
  cursor: pointer;
  background-color: black;
  color: yellow;
}
.resultado {
  display: flex;
  width: 300px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font: bold 20px Arial, sans-serif;
  border: solid 2px black;
  border-radius: 5px;
  background-color: black;
  color: yellow;
}
