body,
html {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: #dddd;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.description {
  width: 300px;
}
.duracao {
  margin-top: 25px;
}
img {
  width: 300px;
  height: 300px;
}
h2 {
  margin-bottom: 5px;
}
.barra {
  width: 300px;
  height: 6px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
progress {
  height: 6px;
  width: 0;
  background-color: #333;
}
.ponto {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: -10px;
}
.tempo {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.btn-player {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.btn-play,
.btn-pause {
  font-size: 50px;
  cursor: pointer;
}
.seta {
  font-size: 40px;
  cursor: pointer;
}
.btn-pause {
  display: none;
}
